<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
 "-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
 "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>

		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">
			jdbc:mysql://localhost/teach?useSSL=false&amp;serverTimezone=UTC&amp;characterEncoding=utf-8
		</property>
		<property name="connection.username">root</property>
		<property name="connection.password">qqeerrtt</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        
        
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.current_session_context_class">thread</property>
		<mapping resource="bean/Student.hbm.xml"/>
		<mapping resource="bean/Buy.hbm.xml"/>
		<mapping resource="bean/Course.hbm.xml"/>
		<mapping resource="bean/Fileone.hbm.xml"/>
		<mapping resource="bean/Look.hbm.xml"/>
		<mapping resource="bean/Manager.hbm.xml"/>
		<mapping resource="bean/Teacher.hbm.xml"/>
		<mapping resource="bean/Comment.hbm.xml"/>
	</session-factory>
</hibernate-configuration> 