<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="Mapper.otherMapper">
<select id="college_login" resultType="college">
select * from college where college_id=#{0}and college_password=#{1}
</select>

<select id="junior_login" resultType="int">
select count(*) from junior where junior_id=#{0}and junior_password=#{1}
</select>

</mapper>