.header{
	height: 65px;
	background: rgb(6,131,177);
}
.clear-fix:after{
	content: "";
	display: block;
	clear: both;
}
.header .header-left{
	float: left;
	margin-left: 23px;
	height: 65px;
}
.header .header-left .haisou{
	font-size: 25px;
	color: #fff;
	font-weight: 500;
	line-height: 65px;
}
.header .header-left .data-admin{
	font-size: 15px;
	line-height: 65px;
	color: #fff;
	margin-left: 50px;
}
.header .header-right{
	float: right;
	margin-right: 25px;
}
.header .header-right img{
	width: 20px;
	height: 20px;
	line-height: 65px;
}
.header .header-right .admin{
	color: #fff;
	font-size: 13px;
	line-height: 65px;
	margin-left: 3px;
}
.header .header-right .exist{

	font-size: 13px;
	margin-left: 6px;
	line-height: 65px;
}
.header .header-right .exist a{
		color: #fff;
}
.section-left{
	width: 15%;
	border-right: 2px solid #ddd;
	height: 600px;
	float: left;
}
.section-left .section-left-top{
	width: 100%;
	height: 60px;
	line-height: 60px;
	position: relative;
	border-bottom: 2px solid #ddd;
	padding-top: 3px;
}
.section-left .section-left-top .arrow{
	display: inline-block;
	width: 27px;
	height: 27px;
	border-radius: 50%;
	background: rgb(140,186,81);
	text-align: center;	
	position: relative;
	margin-left: 15px;
}
.section-left .section-left-top .arrow span{
	position: absolute;
	top: -18px;
	left: 8px;
	color: #fff;
	font-weight: 700;
}
.section-left .section-left-top .section-left-top-txt{
	color: rgb(140,186,81);
	position: absolute;
	top: -1px;
	margin-left: 5px;
}
.section-left-main{
	background: rgb(244,248,249);
	height: 500px;
}
.section-left-nav{
	margin: 0 auto;
	padding-top: 20px;
}
.section-left-nav .section-left-nav-item{
	width: 100%;
	height: 30px;
	padding: 1px 0px;
	margin-bottom: 2px;
	line-height: 30px;
	cursor: pointer;
}
.section-left-nav .section-left-nav-item .teach{
	margin-left: 20px;
}
.section-left-nav .section-left-nav-item:hover{
	background: #fff;
	color: rgb(6,131,177);
}
.section-left-nav .section-left-nav-item img{
	height: 18px;
	width: 18px;
}
.section-left-nav .section-left-nav-item span{
	color: black;
	font-size: 12px;
	display: inline-block;
	margin-left: 4px;
}
.section-right{
	width: 83%;
	float: left;
	margin-left: 15px;
}
.section-right .section-right-top{
	height: 50px;
	border-bottom: 1px solid #ccc; 
	margin-bottom: 15px;
}
.section-right .section-right-top .section-right-top-txt{
	font-size: 17px;
	display: inline-block;
	margin-left: 17px;
	margin-top: 17px;
}
#unline{
	width: 140px;
	height: 3px;
	background: rgb(140,186,81);
	margin-top: 5px;
}
.table{

}
.table thead{
	margin-top: 10px;
	background: #ddd;
	border-top: 1px solid rgb(6,125,190);
}
.table tbody tr:last-child{
	border-bottom: 1px solid #ddd;
}