.header{
	height: 40px;
	width: 100%;
	background: #555;
}
.header-nav{
	width: 1180px;
	margin: 0 auto;
}
.clear-fix:after{
	content: "";
	display: block;
	clear: both;
}
.header-nav-left{
	float: left;
}
.header-nav ul li{
	height: 40px;
	float: left;
	margin-right: 13px;
	line-height: 40px;
	color: #fff;
	font-size: 15px;
}
.header-nav ul li a{
	color: #fff;
}
.header-nav ul li a:hover{
	color: orange;
}
.header-nav ul .span1{
	display: inline-block;
	width: 1px;
	height: 13px;
	background: #fff;
	margin-left: 9px;

}
.header-nav-right{
	float: right;
	line-height: 40px;
	font-size: 14px;
	color: #fff;
}
.clear-fix:after{
	content: "";
	display: block;
	clear: both;
}
.section-nav{
	width: 1180px;
	height: 500px;
	border: 2px solid rgb(80, 139, 213);
	margin: 20px auto;
	padding: 20px;
	padding-top: 40px;

}
.section-nav .section-nav-left{
	float: left;
	width: 480px;
	height: 170px;
	margin-left: 20px;
}
.section-nav .section-nav-right{
	float: right;
	width: 650px;
}
.section-nav .section-nav-right .section-nav-right-item1{
	color: #666;
	font-size: 20px;
	margin-bottom: 12px;
}
.section-nav-right-item2 .teacher{
	color: #777;
	font-size: 15px;
}
.section-nav-right-item2{
	margin-bottom: 15px;
}
.section-nav-right-item3{
	margin-bottom: 15px;
}
.section-nav-right-item3 .price-span{
	color: #777;
	font-size: 15px;
}
.section-nav-right-item3 .price2-span{
	color: red;
	font-weight: 600;
	font-size: 30px;
}
.section-nav-right-item4{
	width: 100%;
	height: 45px;
	background: rgb(65,170,191);
	margin-bottom: 30px;
	/*opacity: 0.8;*/
}
.section-nav-right-item4 span{
	color: #fff;
	margin-left: 8px;
	font-size: 15px;
	line-height: 45px;
	letter-spacing: 2px;
}
.section-nav .section-nav-left img{
	width: 100%;
}
#sub{
	height: 40px;
	width: 100%;
	color: #fff;
	outline: none;
	border: none;
	border-radius: 4px;
	background: rgb(65,170,191);
	cursor: pointer;
}
#sub:hover{
	background: orange;
	opacity: .8;
}
.footer{
    background: #ccc;
}
.copyright{
    padding-top:28px;
    text-align: center;
    font-size: 12px;
    color: #999;
    border-top:1px solid #ddd;
}
.copyright div{
    padding:20px 0;
}
.copyright div a{
    display: block;
    height: 20px;
    line-height: 20px;
}
.copyright img{
    vertical-align: bottom;
}
.copyright a:hover{
    text-decoration: underline;
}